#define IDM_FILE_EXIT 10001
#define IDM_Action_Average 10101
#define IDM_Action_List 10102
#define IDM_HELP_ABOUT 10201
MyMenu MENU
BEGIN
POPUP "&FILE"
BEGIN
MENUITEM "&EXIT",IDM_FILE_EXIT
END
POPUP "&ACTION"
BEGIN
MENUITEM "&Average",IDM_Action_Average
MENUITEM "&LIST",IDM_Action_List
END
POPUP "&HELP"
BEGIN
MENUITEM "&ABOUT",IDM_HELP_ABOUT
END
END
